.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Personal Stylings */
body {
  background: #999;
  margin: 0;
  padding: 0;
}

.navbar {
  text-align: center;
  background: white;
  /*width: 100vw;*/
}

.mainbody {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
}

.songInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.notes {
  width: 100%;
}

label {
  color: white
}

input {
  margin-bottom: 15px;
}

.list {
  list-style: none
}

.tile {
  background: royalblue;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
